@font-face {
    font-family: dot-matrix;
    src: url(DOTMATRI.TTF);
}

@font-face {
    font-family: dot-matrix-bold;
    src: url(DOTMBold.TTF);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: none;
}

.table {
  box-shadow: 10px 10px 10px #DDD;
  width: calc(100% - 40px);
  max-width: 100%!important;
}

#portfolio {
  margin-top: 10%;
  font-family: dot-matrix;
  font-size: 1.5em;
  margin-bottom: 5%;
}

.portfolio-line {
  width: 100%;
  display: block;
  height: 50px;
  border: 1px solid #B1F5CD;
  overflow: hidden;
}

.portfolio-line>div {
  display: block;
  float: left;
}

.portfolio-line .s:first-of-type {
  border-right: 2px dotted #B1F5CD;
}

.portfolio-line .s:last-of-type {
  border-left: 2px dotted #B1F5CD;
}


.s {
  height: 100%;
  width: 50px;
  background-color: #ECF6FF;
}

.s:after {
  content: '';
  border-radius: 14px;
  background-color: rgba(0,0,0,0);
  height: 28px;
  width: 28px;
  display: block;
  margin: auto;
  margin-top: calc(50% - 14px);
  border: 2px solid #B1F5CD;
}

.info {
  width: calc(100% - 100px);
  height: 100%;
  padding-left: 15px;
  padding-top: 10px;
  text-overflow: ellipsis;
}

.portfolio-line:nth-of-type(2n+1) {
  background-color: #F3FDFF;
}

.portfolio-line:nth-of-type(2n) {
  background-color: #D9F9EF;
}

.info.section-title {
  font-family: dot-matrix-bold;
  line-height: 100%;
  font-size: 1.6em;
  padding-top: 8px;
}

.portfolio-line.header-footer {
  background-color: #ECF6FF;
}

@media (max-width: 768px) {
  .info.section-title {
    font-size: 1.2em;
    padding-top: 11px;
  }

  .info {
    font-size: 0.7em;
  }
}
